* {
  margin: 5px auto;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 5px;
  max-width: 1000px;
}

header {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom,
    black 40%,
    blue 40%,
    blue 60%,
    black 60%);
  display: flex;
  align-items: center;
  position: relative;
}

nav {
  font-size: 1rem;
  color: blue;
  margin: 0;
  background-color: black;
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%
}

a.menu {
  border-radius: 0;
  margin: 0;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

a.menu:link {
  color: white;
}

a.menu:visited {
  color: white;
}

a.menu:hover {
  color: blue;
}

a.menu:active {
  color: white;
}

a#current:hover {
  color: white;
  background-color: blue;
}

img.badge {
  padding: 0;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 5.5px;
  display: none
}

h1 {
  font-size: 2rem;
  color: #ee0000;
  width: 100%;
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px slategray;
  -webkit-text-stroke: 0.1px whitesmoke;
}

div {
  text-align: center;
  background-color: lightgray;
}

div.construction {
  background-image: repeating-linear-gradient(-45deg,
    red,
    red 25px,
    yellow 25px,
    yellow 50px);
}

#construction {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menuitem {
  border-radius: 0;
  margin: 2px 5px;
  padding: 0px;
  width: 100%;
  border: 1px solid red;
}

li.login {
  margin-left: 5px;
}

li a:hover:not(.active) {
  background-color: white;
}

li.active {
  background-color: blue;
  border: 1px solid blue;
}

form {
  margin: 0.3rem auto;
  text-align: center;
}

section {
  width: 100%;
  background-color: #59c234;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

h2 {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color: blue;
}

.results {
  background-color: #70bbff;
  width: 100%;
  display: block;
}

li.results {
  max-width: 400px;
}

li.results:hover {
  background-color: lightgray;
}

.wanted {
  background-color: #ff8200;
  font-size: 2rem;
  font-weight: bold;
  width: 95%;
  color: #b10b00;
  text-decoration: underline;
}

article {
  margin: 5px;
  padding: 8px;
  width: 100%;
  min-height: 75px;
  border: 1px solid red;
  background-color: lightblue;
  line-height: 1;
}

article::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

aside {
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: lightslategray;
}

ul.list {
  list-style: none;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

li.listitem {
  float: none;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  display: flex;
  flex-direction: column;
}

li.listitem:hover {
  background-color: lightgray;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background-color: lightslategray;
}
