* {
  margin: 5px auto;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 5px;
  max-width: 1000px;
}

header {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom, black 40%, blue 40%, blue 60%, black 60%);
}

a.main {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  color: #ee0000;
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px slategray;
}

nav {
  font-size: 1.4rem;
  color: blue;
  background-color: black;
  width: 100%;
  display: inline-block;
}

a.menu {
  text-decoration: none;
  border-radius: 0;
  display: inline-block;
  margin: 0;
}

a.menu:link {
  color: white;
}

a.menu:visited {
  color: white;
}

a.menu:hover {
  color: blue;
}

a.menu:active {
  color: white;
}

a#current:hover {
  color: white;
  background-color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid white;
  border-radius: 0;
  padding: 0 1rem;
  margin: 0;
  display: inline-block;
}

li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: white;
}

li.active {
  background-color: blue;
}

#login {
  float: right;
}

div {
  text-align: center;
  background-color: lightgray;
}

#construction {
  font-size: 1.25rem;
  color: #979a00;
  font-family: monospace;
  font-weight: bold;
  text-decoration: underline;
}

img.badge {
  display: inline-block;
  padding: 0;
  float: right;
  width: 85px;
}

section {
  width: 100%;
  background-color: #59c234;
  display: inline-block;
}

form {
  margin: 1.2rem auto;
  text-align: center;
}

article {
  margin: 5px;
  padding: 8px;
  width: 50%;
  height: 75px;
  border: 1px solid red;
  background-color: lightblue;
  line-height: 1;
}

article::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

aside {
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: lightslategray;
}

ul.list {
  list-style: none;
  padding: 0 auto;
  box-sizing: border-box;
}

li.listitem {
  float: none;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  display: block;
}

li.listitem:hover {
  background-color: lightgray;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background-color: lightslategray;
}
